<mat-grid-list cols="1" rowHeight="50px" [gutterSize]="'10px'">

  <mat-grid-tile [style.background]="'#ECEBEB'" *ngFor="let item of usersForm.get('users')['controls']; let i = index;">

    <div fxLayout="row" fxFlex="100%" class="grid-line">
      <div fxLayoutAlign="start center">
        <div [formGroup]="usersForm">
          <div formArrayName="users">
            <div [formGroupName]="i">
              <mat-form-field>
              <input matInput formControlName="name" >
            </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-grid-tile>
</mat-grid-list>
