<mat-grid-list cols="1" rowHeight="50px" [gutterSize]="'10px'">


  <mat-grid-tile *ngFor="let user of usersList" [style.background]="'#ECEBEB'">

    <div *ngIf="!getIfIsInEditing(user.name)" fxLayout="row" fxFlex="100%" class="grid-line">
      <div fxFlex="90%" fxLayoutAlign="start center">
        {{ user.name }}
      </div>
      <div fxFlex="10%" fxLayoutGap="10px" fxLayoutAlign="center center">
        <button [disabled]="controllerEdit" mat-flat-button color="accent" (click)="sendUserToEdit(user)">Edit</button>
        <button [disabled]="controllerEdit" mat-flat-button color="warn"
          (click)="sendUserToRemove(user)">Delete</button>
      </div>
    </div>


    <div *ngIf="getIfIsInEditing(user.name)" fxLayout="row" fxFlex="100%" class="grid-line">
      <app-edit-user [user]="user" [editType]="'single'" (sendUserEditEvent)="receiveUserToEdit($event)"
        (sendUserEditAllEvent)="receiveUserToEditAll($event)" fxFlex="100%"></app-edit-user>
    </div>

  </mat-grid-tile>
</mat-grid-list>
